
<h1>Listado de publicaciones</h1>




{{#each productList}}
<div class="grid-container">
    <div class="grid-item">    
        <h2>{{title}}</h2>
        <p>Anunciado por: {{author}}</p>
        <p>Descripción: {{description}}</p>
         <img class="pic1" src={{img}} alt="fotografia">
        <a class="ver1" href="/products/{{id}}">Ver detalles</a>
        <a class="ver1" href="/products/{{id}}/edit">Editar producto</a>

        <form action="/products/{{id}}/delete" method="POST">
        <button type="submit" class="submit">Borrar producto</button>
        </form>
    </div>    
</div>



{{/each}}