<div class="signbox">
    <div class="signup">
        <div class="signup1">
            <h1>{{title}}</h1>
            <h2>{{description}}</h2>
            <p>{{author}}</p>
            <p>{{img}}</p>
        </div>
    </div>
</div>

{{!-- <h2>Update</h2>
{{#each this}}
    <h2 class="lists">Update the drone</h2>
    <ul class="lists">
        <li>Titulo: {{this.title}}</li>
    <li>Descripción: {{this.description}}</li>
    <li>Autor: {{this.author}}</li>
    <li>Url: {{this.img}}</li>
    </ul>

    <form action=“/products/{{this._id}}/edit” method=“POST”>
    <label for=“label-name”>Titulo</label>
    <input type=“text” name=“title” id=“label-name” placeholder=“{{this.title}}“>
    <label for=“label-propellers”>Descripción</label>
    <input type=“text” name=“description” id=“label-propellers” placeholder=“{{this.description}}“>
    <label for=“label-speed”>Autor</label>
    <input type=“text” name=“author” id=“label-speed” placeholder=“{{this.author}}“>
    <label for=“label-speed”>Autor</label>
    <input type=“text” name=“author” id=“label-speed” placeholder=“{{this.img}}“>
    <button type=“submit”>Update</button>
{{#each}} --}}