
<div class="signbox">
    <div class="signup">
        <h2 class="lists">Edita tu objeto</h2>
        <ul class="lists">
            <h1>Título: {{title}}</h1>
            <h2>Descripción: {{description}}</h2>
            <p>Autor: {{author}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
        </ul>
    </div>
</div><br><br>
        
    <form class="formedit" action="/products/{{id}}/edit" method="POST">
        <label for="label-name">Titulo:</label>
        <input type="text" name="title" id="label-name" value="{{title}}">
        <label for="label-description">Descripción</label>
        <input type="text" name="description" id="label-description" value="{{description}}">
        <label for="label-speed">Autor</label>
        <input type="text" name="author" id="label-author" value="{{author}}">
        <label for="label-speed">Autor</label>
        <input type="text" name="img" id="label-img" value="{{img}}">
        <button  type="submit">Update</button>
    </form>
